/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "../steno/impl/zmk/steno_keys.h"

/ {
    keymap0: keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* &kp N1 &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp N3 */
                /* &kp N2 &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp N4 */
                /* &kp Z &kp X &kp C &kp V &kp B &mo 1 */
                &stn STN_S_ &stn STN_S_ &stn STN_T_ &stn STN_P_ &stn STN_H_ &stn STN_STAR &stn STN_STAR &stn STN__F &stn STN__P &stn STN__L &stn STN__T &stn STN__D
                &stn STN_S_ &stn STN_S_ &stn STN_K_ &stn STN_W_ &stn STN_R_ &stn STN_STAR &stn STN_STAR &stn STN__R &stn STN__B &stn STN__G &stn STN__S &stn STN__Z
                &mo 1 &stn STN_A &stn STN_O &stn STN_E &stn STN_U &stn STN_NUM
                >;
        };
        ble_layer {
            bindings = <
                &none &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR &none &none &none &none &none &none
                &none &none &out OUT_BLE &out OUT_USB &none &none &none &none &none &none &none &none
                &none &none &none &none &none &trans
                >;
        };
    };
};
